<% layout('template') %>
<!-- 提示性文字 -->
<fieldset id="promptText" class="promptText">
  <legend class="color-danger">相关提示</legend>
  <ol>
    <li>查看所在评审组信息</li>
  </ol>
</fieldset>
	
<% if(show == true) {%>
	<div  class="promptText border-2px-warning">
		<div class="reply-content">
			<p>审核地点：<%= group_info.address%></p>
			<p>审核日期：<%= date%></p>
			<p>审核导师：<%= group_info.tutor_name%> ( <%= group_info.tutor_num%> )</p>
		<% if(stu_info != null) { %>
			<h3 class="color-primary">学生名单：</h3>
		</div>
		<div class="text-center">
			<table class="show-process">
				<thead>
					<tr>
						<th>序号</th>
						<th>学号</th>
						<th>姓名</th>
						<th>专业</th>
						<th>课题名称</th>
						<% if(identity == 1) { %>
							<th>操作</th>
						<% } %>
					</tr>
				</thead>
				<tbody>
					<% for(var i in stu_info) { 
						if(stu_info)%>
					<tr>
						<td><%= (parseInt(i,10)+1)%></td>
						<td><%= stu_info[i].stu_num%></td>
						<td><%= stu_info[i].stu_name%></td>
						<td><%= stu_info[i].major_name%></td>
						<td><%= stu_info[i].pro_name%></td>
						<% if(identity == 1) { %>
							<td>
								<a class="btn btn-info btn-block" href="/appraise/score?id=<%= stu_info[i].pro_id%>"> 去评分 </a>
							</td>
						<% } %>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<% }else{ %>
			</div>
		<% } %>
	</div>
<% } else {%>
	<div class="promptText boder-2px-warning">
		<div class="reply-content">
			还没有分组信息
		</div>
	</div>
<% } %>