<% layout('template') %>

<!-- 提示性文字 -->
<fieldset id="promptText" class="promptText">
    <legend class="color-danger">相关提示</legend>
    <ol>
      <% for(var item in prompt_text) {%>
        <li><%= prompt_text[item]%></li>
      <% } %>
    </ol>
  </fieldset>

<!-- 进度显示区域 -->
<table class="show-process">
  <thead>
    <tr>
      <th>序号</th>
      <th>课题名称</th>
      <th>课题类型</th>
      <th>课题性质</th>
      <th>选题学生</th>
      <th>评分情况</th>
    </tr>
  </thead>

  <tbody>
    <% 
      for(var i in pro_info) {
        if(pro_info[i].stu_name != null){
    %>
      <tr>
        <td><%= (parseInt(i,10)+1)%></td>
        <td class="pro-name">
          <%= pro_info[i].pro_name%>
        </td>
        <td class="pro-type">
          <%= pro_info[i].pro_type%>
        </td>
        <td>
          <%= pro_info[i].pro_nature%>
        </td>
        <td>
          <%= pro_info[i].stu_name%><br/>
          (<%= pro_info[i].stu_num %>)
        </td>
        <td>
          <%if(score_info[pro_info[i].pro_id] != undefined) { %>
            <a class="btn btn-block btn-success" href="/score/<%= path%>/detail?id=<%= pro_info[i].pro_id%>">查看评分</a>
          <% } else {%>
            <a class="btn btn-block btn-primary" href="/score/<%= path%>/detail?id=<%= pro_info[i].pro_id%>">去评分</a>
          <% }} %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
